<!--
Common header to be included on most pages.
Includes main navigation and basic branding.
-->


<div class="header-wrapper">
    <header>
        <!-- logo and description -->
        {% if page.layout != "post" %}
        <div class="head-area">
            <h1 class="site-logo">
                <a href="/"><img src="/assets/img/logo.gif" class="logo"/></a>
            </h1>
            <h3 class="site-description">{{ site.description }}</h3>
        </div>
        {% endif %}
    </header>
</div>
